/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* General Styles */

html {
    font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

ul,
ol,
#form-button {
    text-transform: uppercase;
      font-size: 1.125em;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h1{
  color: #e2e3ed;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.775em
  color: #e2e3ed;
  font-weight: normal;
}

h3,
h4 {
  color: #e2e3ed;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: normal;
}

p {
 font-size: 1em;
 color: #e2e3ed;
}

img {
  width: 100%;
}
figure{
  margin: 0;
}

figure a{
  font-size: 1em;
  text-transform: uppercase;
}

address {
  font-style: normal;
}

.content-wrapper {
    color: #e2e3ed;
}
.contact-section h2{
  font-size: 1.5em;
}

/*------- base header - footer styles ------*/

header,
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  box-sizing: border-box;
}
/* header styles*/
.header-background{
  background-color: #202322;
}
header{
  width: 100%;
}

header .content-wrapper{
 margin: 0;
}

header nav, header figure{
  display: flex;
  justify-content: center;
  align-items: center;

}

header figure{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header nav{
  width: 80%;
  margin: 0 50px;
}

header nav ul{
  padding: 0;
  list-style-type: none;
  display: inline;
}
.header-divider{
  width: 100%;
  margin: 5px 0 5px 0;
  border-top: 1px solid rgba(100,100,100, 0.5)
}

header nav ul li{
  display: inline;
  list-style-type: none;
}
header nav ul li a {
  padding: 0px 30px;
}

header .faq-link{
}

header .about-link{

}

/*------- mobile styles - homepage ------*/

main, .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.hero-area{
      height: 500px;
}
.hero-area h1{
      padding: 10px 20px;
}
.hero-area-background{
    background: url('../img/jake-melara.jpg') center no-repeat #333;
    background-size: cover;
    width: 100%;
}
.hero-area .content-wrapper{

}
.form-background{
  background-color: #527158;
  width: 100%;
}
aside{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
aside .form-content-wrapper{
  margin-top: 30px;
}

.form-description{
  padding: 0px 20px 0;
}

.form-description p{
  font-size: 0.975em;
}
.form-description h3{
  font-weight: normal;
  font-size: 1.25em;
}

.form{
 width: 100%;
 padding: 20px 20px 40px;
}

.form h3{

}

input[type=text]{
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 20px 20px;
  border: none;
}

input[type=button]{
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;

}
.features-background{
 background-image: url('../img/rawpixel.jpg');
 background-size: cover;
 background-position: center;
 width: 100%;
}
.features h2{
  padding: 0px 20px;
  font-weight: normal;
  font-size: 2em;
}
.features p{
 margin: 0;
}

.features .content-wrapper{
  padding: 10px 0 40px 0;
}

.features-items{
  width: 60%;
  text-align: center;
}

.features-items article{
  padding: 25px 0px;
}

.features i{
 font-size: 3.975em;
 margin-bottom: 40px;
}
.features-items-description{

}
.reviews-background{
  background-color: #2a423a;
  width: 100%;
}

.reviews{
  padding: 20px 20px;
}

.reviews h2{
  font-size: 1.87em;
}

.reviews h3{
  margin-bottom: 30px;
}

.reviews h2, .reviews h3, .reviews h4{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.reviews p{

}
/*------- mobile styles - about page ------*/

.mission-background{
  background-color: #527158;
  width: 100%;
}
.mission{
  padding: 0 20px;
}

.mission-content{

}
.map {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  position: relative;
  overflow: hidden;
}

.map  iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.contact-section-background{
    background-color: #2a423a;
    width: 100%;
}

.contact-section{
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
.contact-section h3{
  width: 100%;
}

.contact-area{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

/*------- mobile styles - FAQ page ------*/

.faq-background{
  background-color: #527158;
}

.frequently-asked-questions{
  padding: 10px 20px 30px 20px;
}
.frequently-asked-questions h2{
  font-size: 2em;
}
.single-faq{
  padding-bottom: 20px;
}
.single-faq h3{
  font-size: 1.3em;
  font-weight: bold;
}

/* footer */

.footer-background{
  background-color: #202322;
  width: 100%;
}
footer p {
  margin: 0;
  text-align: center;
}

footer .content-wrapper{
  width: 100%;
  margin: 0px 50px;
}

footer h4{
  text-align: center;
}

.footer-content{
  width: 100%;
}

.contact{

}
.contact address{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.social{

}
.social-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.social-icons i{
  background-color: #527158;
  padding: 15px;
  border-radius: 50px;
}
.social-icons .fa-facebook-f{
  padding: 15px 19px;
}
.copyright{
  padding-bottom: 5px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px){
  /*------- base header - footer styles ------*/


  header,
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  /* header styles*/

  header{
    justify-content:space-between;

  }

  header .content-wrapper{
   margin: 0 auto;
   flex-flow: nowrap;
  }

  header nav, header figure{

  }

  header figure{
    width: 100%;
  }
  header img{
    padding-left: 20px;
  }
  header nav{
    width: 90%;
    margin: 0 0px;
  }

  header nav ul{
    justify-content:space-between;
    padding: 0;
    list-style-type: none;
    display: inline;
  }
  .header-divider{
    padding: 0;
    margin: 0;
    border: 0;
  }

  header nav ul li{
    display: inline;
    list-style-type: none;
  }
  header .faq-link{
  }

  header .about-link{

  }

  /*------- tablet styles - homepage ------*/

  main, .content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .hero-area{
    width: 100%;
  }
  .hero-area h1{
    font-size: 3.6em;
    padding-right: 90px;
  }

  .hero-area .content-wrapper{
    display: flex;
    justify-content: flex-start;
  }
  aside{
    width: 100%;
    }
  aside .content-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .form-description{
    width:40%;
  }
  .form-description h3, .form h3{
    font-size: 1.4em;
  }

  .form-description p{
    font-size: 1.25em;
  }

  .form{
   width: 40%;
   padding: 0px 20px 40px;
  }

  #form-text{
    margin-bottom:10px;
    width: 100%;
  }

  #form-button{
    width: 100%;
  }

  .features{
    width: 100%;

  }
  .features h2{
    font-size: 3em;
    margin-bottom: 0;
  }
  .features p{
   font-size: 1.1em;
  }

  .features-items-description{
    width: 100%;
  }

  .features .content-wrapper{

  }

  .features-items{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }
  .features-items article{
    width: 25%;
    padding: 50px 60px;
  }

  .fontawesome-icons{

  }
  .features-items-description{
  }

  .reviews .content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .reviews h3{
    margin-bottom: 30px;
  }

  .reviews h4{
    margin: 0;
    font-size: 1.8em;
  }
  .reviews figure{
    width: 50%;
  }
  .review-below-img-text{
    width: 45%;
  }

  .reviews p{
    font-size: 1.1em;
  }
  /*------- tablet styles - about page ------*/

  .mission{

  }

  .mission-content{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .mission-content h3{
    width: 100%;
  }
  .mission-content p{
    width: 45%;

  }
  .map {
    padding-bottom: 55%;
  }

  .map  iframe{

  }




  .contact-section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: nowrap;
    padding: 100px 20px;
  }

  .contact-section h2{
    width: 100%;
  }

  .contact-section .content-wrapper{
    justify-content: flex-start;
    align-items: flex-start;

    }
  .contact-section h3{
    width: 100%;
  }

  .contact-area{
    width: 50%;

  }

  /*------- tablet styles - FAQ page ------*/

  .frequently-asked-questions{

  }
  .frequently-asked-questions h2{
    width: 100%;
    padding: 0 50px;
  }

  .single-faq{
    width: 40%;
    padding: 20px 25px 20px 25px;
  }

  /* footer */

  footer{

  }
  footer p {
    margin: 0;
  }

  footer .content-wrapper{
    width: 100%;
    margin: 0px 50px;
  }

  footer h4{
    text-align: center;
  }

  .footer-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .contact{
    width: 35%;
  }
  .contact address{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .social{
    width: 35%;
  }
  .copyright{
    width: 100%;
    text-align: center;
    padding-top: 90px;

  }
}
@media only screen and (min-width: 1200px){
  /*------- base header - footer styles ------*/

  header,
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  /* header styles*/
  header, aside, section, footer{
    max-width: 960px;
    margin: auto;
  }

  header{
    justify-content:space-between;

  }

  header .content-wrapper{
    width: 100%;
   margin: 0 auto;
   flex-flow: nowrap;
  }

  header nav, header figure{

  }

  header figure{
    width: 70%;
  }
  header nav{
    width: 90%;
    margin: 0 0px;
  }

  header nav ul{
    justify-content:space-between;
    padding: 0;
    list-style-type: none;
    display: inline;
  }
  .header-divider{
  }

  header nav ul li{
    display: inline;
    list-style-type: none;
  }
  header .faq-link{
  }

  header .about-link{

  }

  /*------- desktop styles - homepage ------*/

  main, .content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .hero-area{
    width: 100%;
  }

  .hero-area .content-wrapper{
    display: flex;
    justify-content: flex-start;
  }
  aside{
    width: 100%;
    padding: 0 80px;
    }

  aside .content-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 10px 0;
  }

  .form-description{
    width:35%;
  }
  .form-description h3{
    font-size: 2em;
    margin: 0;
  }
  .form-description p{
    font-size: 1.3em;
  }
  .form{

  }

  .form h3{
    font-size: 2em;
    margin-top: 0px;
  }

  #form-text{
    margin-bottom:10px;
    width: 100%;
  }

  #form-button{
    width: 100%;
  }

  .features{
    width: 100%;

  }
  .features h2{
    width: 100%;
  }
  .features p{
   margin: 0;

  }
  .features-items-description{
    width: 100%;
  }

  .features .content-wrapper{

  }

  .features-items{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }
  .features-items article{
    width: 25%;
    padding: 50px 30px;
  }

  .fontawesome-icons{

  }
  .features-items-description{
  }

  .reviews .content-wrapper{
    padding-bottom: 50px;
  }

  .reviews h3{
    margin-bottom: 30px;
  }

  .reviews h3, .reviews h4{
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .reviews p{

  }
  /*------- desktop styles - about page ------*/

  .mission{

  }

  .mission-content{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .mission-content p{
    width: 45%;
  }

  .map {
    padding-bottom: 30%;
  }

  .map  iframe{

  }

  .contact-section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: nowrap;
    padding: 100px 0;
  }

  .contact-section h2{
    width: 100%;
  }

  .contact-section .content-wrapper{
    justify-content: flex-start;
    align-items: flex-start;

    }
  .contact-section h3{
    width: 100%;
  }

  .contact-area{
    width: 50%;

  }

  /*------- desktop styles - FAQ page ------*/

  .frequently-asked-questions{
    display: flex;
  }
  .frequently-asked-questions h2{
    width: 100%;
    padding: 0px 70px;
  }

  .single-faq{
    width: 40%;
    padding: 15px 25px 15px 0px;
    justify-content: flex-start;
  }

  /* footer */

  footer{

  }
  footer p {
    margin: 0;
  }

  footer .content-wrapper{
    width: 100%;
    margin: 0px 50px;
  }

  footer h4{
    text-align: center;
  }

  .footer-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .contact{
    width: 35%;
  }
  .contact address{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .social{
    width: 35%;
  }
  .copyright{
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 90px;
  }
}
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
